<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
</div>


<div class="content">
  <p-card *ngIf="!showRegisterForm">
    <h1>Bem Vindo!</h1>
    <div class="p-fluid">
      <form #formLogin="ngForm" (ngSubmit)="onLogin(login)" novalidate>
        <div class="p-field">
          <label for="login-email">Usuário</label>
          <input pInputText id="login-email" type="text" name="email" [(ngModel)]="login.email" required>
        </div>
        <div class="p-field">
          <label for="login-password">Senha</label>
          <input pPassword id="login-password" type="password" name="password" [(ngModel)]="login.password" required
            weakLabel="Fraca" mediumLabel="Média" strongLabel="Forte" promptLabel="Informe sua senha">
        </div>
        <p-button type="submit" label="Entrar"></p-button>
      </form>
      <p-button label="Cadastre-se" (click)="showRegister()" styleClass="p-button-link"></p-button>
    </div>
  </p-card>

  <p-card *ngIf="showRegisterForm">
    <h2 class="p-text-nowrap p-text-truncate p-text-bold">Cadastre-se</h2>
    <h4 class="p-text-nowrap p-text-truncate p-text-normal p-mb-4">É rápido e fácil.</h4>
    <div class="p-fluid">
      <form *ngIf="showRegisterForm" #formRegister="ngForm" (ngSubmit)="onRegister(register)" novalidate>
        <div class="p-field">
          <label for="register-first">Nome</label>
          <input pInputText id="register-first" type="text" name="register-first" [(ngModel)]="register.first" required
            placeholder="Nome">
        </div>
        <div class="p-field">
          <label for="register-last">Sobrenome</label>
          <input pInputText id="register-last" type="text" name="register-last" [(ngModel)]="register.last" required
            placeholder="Sobrenome">
        </div>
        <div class="p-field">
          <label for="register-email">E-mail</label>
          <input pInputText id="register-email" type="text" name="register-email" [(ngModel)]="register.email" required
            placeholder="E-mail">
        </div>
        <div class="p-field">
          <label for="register-password">Senha</label>
          <input pPassword id="register-password" type="password" name="register-password"
            [(ngModel)]="register.password" required placeholder="Senha" weakLabel="Fraca" mediumLabel="Média"
            strongLabel="Forte" promptLabel="Informe sua senha">
        </div>
        <div class="p-field">
          <p-button type="submit" label="Cadastrar-se"></p-button>
          <p-button label="Voltar" (click)="showRegister()" styleClass="p-button-link"></p-button>
        </div>
      </form>
    </div>
  </p-card>
</div>

<router-outlet></router-outlet>
