<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <div class="box">
    <form class="form" #formLogin="ngForm" (ngSubmit)="onLogin(login)" novalidate>
      <span class="p-float-label">
        <input pInputText id="float-input" type="text" class="p-inputtext-xs" name="email" [(ngModel)]="login.email"
          required>
        <label for="float-input">Usuário</label>
      </span>
      <span class="p-float-label">
        <input pPassword id="float-input-password" type="text" class="p-inputtext-xs" name="password"
          [(ngModel)]="login.password" required>
        <label for="float-input-password">Senha</label>
      </span>
      <button class="button">Entrar</button>
    </form>
    <button (click)="showRegister()" class="cadastrese">Cadastre-se</button>

  </div>
  <!-- [disabled]="verifyInformations(login.email, login.password) || isLoading" -->
</div>


<div class="content" role="main">
  <span *ngIf="!showRegisterForm" class="title">Bem Vindo!</span>
  <span *ngIf="showRegisterForm" class="title">Preencha os campos para se cadastrar</span>

  <form *ngIf="showRegisterForm" class="formRegister" #formRegister="ngForm" (ngSubmit)="onRegister(register)"
    novalidate>
    <input pInputText type="text" class="p-inputtext-lg" name="first" [(ngModel)]="register.first" required
      placeholder="Nome">
    <input pInputText type="text" class="p-inputtext-lg" name="last" [(ngModel)]="register.last" required
      placeholder="Sobrenome">
    <input pInputText type="text" class="p-inputtext-lg" name="email" [(ngModel)]="register.email" required
      placeholder="E-mail">
    <input pPassword type="password" class="p-inputtext-lg" name="password" [(ngModel)]="register.password" required
      placeholder="Senha">
    <button class="button">Cadastrar-se</button>
  </form>

</div>

<router-outlet></router-outlet>
